@font-face {
    font-family: sans-serif;
    src: url('./components/fonts/Ubuntu-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: rgba(226, 246, 255, 0.938);
    font-family: 'Ubuntu-Regular', sans-serif;
}
form{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
input{
    margin: 5px;
}
button{
    margin: 5px;
}
select{
    margin: 5px;
}
img{
    clip-path: inset(30% 0% 30% 0%);
}