body{
    background-color: rgba(226, 246, 255, 0.938);
}
form{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
input{
    margin: 5px;
}
button{
    margin: 5px;
}
select{
    margin: 5px;
}