@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('./components/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Ubuntu-Regular', sans-serif;
}

body {
    background-color: #cae8f5;
    padding: 5%;
}


form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
    margin: 5px;
    color: black;
}


input, select {
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid #888;
    font-size: 1rem;
    letter-spacing: 0.1ch;
    flex: 1;
    min-width: 150px;
}


button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    margin: 5px 0;
}

button:hover {
    transform: translateY(-2px);
}

img {
    clip-path: inset(30% 0% 30% 0%);
}


li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: bold;
}

li a.btn {
    display: inline-block;
    padding: 12px 16px;
    background-color: #5A9CB9;
    border-radius: 8px;
    text-decoration: none;
    color: #E4F7FF;
    transition: 0.2s;
}

li a.btn:hover {
    background-color: #aedcf0;
}


.logo {
    width: 200px;
}



h1, h2 {
    color: #1c3b47;
    margin-top: 25px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px #0002;
}


table thead {
    background-color: #5A9CB9;
    color: #E4F7FF;
    font-weight: bold;
}


table th, table td {
    padding: 12px 15px;
    text-align: left;
}


table tbody tr:nth-child(even) {
    background-color: #eef7fb;
}


table tbody tr:hover {
    background-color: #d6edf7;
    transition: 0.2s;
}


table tfoot td {
    background-color: #e3f4fc;
    font-weight: bold;
    border-top: 2px solid #5A9CB9;
}


td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
    text-align: center;
}


hr {
    border: none;
    height: 1px;
    background-color: #5A9CB920;
    margin: 40px 0;
}
